<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindAndDeleteDuplicates</title>
    <script src="/scripts/FindAndDeleteDuplicates.js" defer></script>
</head>

<body>
    <h1>Finding and deleting duplicates...</h1>
    <p>Check console & network</p>
</body>

</html>
