<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMA Player</title>
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' />
    <link rel="stylesheet" href="/styles/index.css">
    <script src="/scripts/dataManipulation.js" defer type="module"></script>
</head>

<body>
    <header>
        <div class="headerWrapper">
            <h1 id="logo"><span>mma</span>player</h1>
            <div id="searchBarContainer">
                <label for="searchBar" aria-label="Search">&#128269;</label>
                <input type="search" id="searchBar" autofocus autocomplete="off" placeholder="Search...">
            </div>
        </div>
    </header>
    <section id="thumbsContainer"></section>
</body>

</html>
