<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance</title>
    <script src="/scripts/updateList.js" defer></script>
    <script src="/scripts/redditScrap.js" defer></script>
    <script src="/scripts/findAndDeleteDuplicates.js" defer></script>
</head>

<body>
    <button id="findAndDeleteDuplicates">Find and delete duplicates</button><br />
    <button id="redditScrap">Scrap Reddit</button><br />
    <button id="updateList">Update list</button><br />
    <code>Check console & network</code>
</body>

</html>
