<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMA Player - Maintenance</title>
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' />
    <script src="/scripts/getLatestData.js" defer></script>
    <script src="/scripts/redditScrap.js" defer></script>
    <script src="/scripts/findAndDeleteDuplicates.js" defer></script>
</head>

<body>
    <button id="findAndDeleteDuplicates">Find and delete duplicates</button><br />
    <button id="redditScrap">Scrap Reddit</button><br />
    <button id="updateList">Get latest event</button><br />
    <code>Bypass CORS then check console & network</code>
</body>

</html>
